{% extends "base_mtgcrypto.html" %}

{% block articlecontent %}
<div class="site_section_light">
  <div class="container">
    <h1>Card Conditions Explained</h1>
    <p>Magic cards don't generally thrive off of being played. Shuffling, playing, and windmill-slamming cards tends to leave marks, and even the most cautious player can be caught unaware when a glass of soda is spilled over the battlefield accidentally. To prevent disappointment, we expect every user to indicate what the condition of their offered cards is.</p>

    <h2>Mint</h2>
    <p>Mint cards are booster-fresh. Placed into a protective sleeve directly after being taken out of the booster, this card has no visible abnormalities, has no scratches or deformities, and its border is a uniform color. It even smells nice.</p>

    <h2>Near-mint</h2>
    <p>A card that spent a few moments being sorted through in a pile, from which it sustained a minimal amount of damage in the form of slight scuffing or clouding. Still considered 100% value.</p>
 
    <h2>Slightly Played</h2>
    <p>We do not speak of these</p>

    <h2>Moderately Played</h2>
    <p>We do not speak of these</p>

    <h2>Heavily Played</h2>
    <p>We do not speak of these</p>

  </div>
{% endblock %}
