{% extends "base_mtgcrypto.html" %}

{% block articlecontent %}
<div class="site_section">
  <div class="container">
    <h1>Shipping Cards anywhere</h1>
    <p>Though the postal services typically are reliable, professional, and well-regarded, there's always that Urabrask hidden away somewhere, ready to rip open your packet and do horrible things to its content. Because of this, we urge all of our users to adhere to the following guidelines. These guidelines help to secure your packages from critical failures, and prevent the opening of support tickets.</p>
  </div>
</div>
<div class="site_section site_section_light">
  <div class="container">
    <h2>Don't mention the contents</h2>
    <p>Don't. Like, ever. Do you want that underpaid postal worker to rip open your packet? Because writing down Magic: the Gathering in any form on the packet paint a target on it.</p>
  </div>
</div>
<div class="site_section">
  <div class="container">
    <h2>Do mark it "Do not bend"</h2>
    <p>Most mail is handled in bulk by automated processes which sort everything in neat piles. Marking your packet with "Do not bend" on both sides gives off a signal that perhaps the postman should be careful with it.</p>
  </div>
</div>
<div class="site_section site_section_light">
  <div class="container">
    <h2>Sleeve that Shizzle</h2>
    <p>Though I love popping that Black Lotus into the package as is, and then sealing it shut, it leaves a lot to be desired. Movement inside the package could damage it, and careless handling/opening of the package might damage it further. Sleeve your cards. High value cards go into their own sleeve (preferably sealed with scotch tape) and bulk can be added into toploaders five to ten at a time.</p>
  </div>
</div>
{% endblock %}
